@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Basic Setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    background-color: #020202;
    font-size: 14px;
    font-weight: 400;
    /* font-family: 'Miama Nueva', sans-serif; */
    font-family: "Inter", sans-serif;
}


/* Reusable Components */

section {
    max-width: 85%;
    margin: auto;
}

h2 {
    font-size: 48px;
}

p {
    color: #FFFFFF50;
}

.btn-primary {
    background-color: #E6533C;
    padding: 16px 40px;
    border: 0;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.btn-download {
    background-color: #e6533c00;
    padding: 16px 40px;
    border: 1px solid #ffffff;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}


/* Desing Navbar */
#hero {
    background-color: #0f0e0eef;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

nav h3 {
    color: #E6533C;
    font-size: 36px;
    font-weight: 800;
}

nav ul {
    border: 1px solid #FFFFFF30;
    padding: 15px;
    border-radius: 20px;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: 30px;

}

nav ul li a {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}

nav ul li:nth-child(1) {
    background-color: red;
    padding: 10px 20px;
    border-radius: 20px;
}

nav ul li:nth-last-child(1) {
    margin-right: 0;
}

nav img {
    width: 35px;
    height: auto;
    display: none;
    background-color: #FFFFFF;
    padding: 8px;
    border-radius: 4px;
}

/* Desing Banner */

.banner {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;

}

h1 {
    font-size: 78px;
    margin-bottom: 30px;
}

.banner span {
    font-family: 'Miama Nueva', sans-serif;
}

.banner p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 30px;
}

.model {
    /* background-image: url(../images/Images2.png); */
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}

.model img {
    margin-bottom: -40px;
    margin-right: 150px;
    margin-top: -80px;
}

.tutorial {
    display: flex;
    align-items: center;

}

.red-box {
    width: 30px;
    height: 30px;
    background-color: #E6533C;
    border-radius: 50%;
    margin-right: 10px;
}

.banner .btn-primary {
    margin-right: 20px;
}

.content {
    display: flex;

}

.workout-videos,
.tutorial {
    background-color: #30303080;
    padding: 20px;
    width: fit-content;
}

.tutorial {
    position: absolute;
    left: -80px;
    bottom: 0;
    margin-left: -20px;
    border: 1px solid #303030;
    border-radius: 10px;
}

.workout-videos {
    position: absolute;
    border: 1px solid #303030;
    border-radius: 10px;
    right: 80px;
    top: 50px;
}

.content h3 {
    font-size: 36px;
}

.content h4 {
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF70;
}

/* Desing habits */

.habits {
    margin-bottom: 60px;
}

.section-title {
    text-align: center;
    margin: 60px;
}

.section-title p {
    margin-top: 15px;
    line-height: 20px;
}

.section-body {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.section-body img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.section-body h4 {
    font-size: 18px;
}

.section-body p {
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

.run {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    padding: 40px;
    border-radius: 20px;
}

.run-title h2 {
    margin-bottom: 20px;
    width: 60%;
}

.run-title p {
    margin-bottom: 20px;
    width: 60%;
}

img {
    width: 50%;
    border-radius: 20px;
}

.experience {
    margin-top: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: #020202;
}

.section-titles {
    margin-bottom: 30px;
}

.section-titles h2 {
    margin-bottom: 16px;
}

.item-1 {
    background-image: linear-gradient(to bottom right, rgba(6, 255, 210, 0.58), rgba(6, 255, 210, 0.58)), url(../images/exercise1.jpg);
    background-position: center bottom;
    background-size: contain;
    grid-column: 1 / 4;
    height: 300px;
    position: relative;

}

.item-1 p {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #000;
    font-weight: 600;
}

.item-2 {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url(../images/exercise2.png);
    background-position: center bottom;
    background-size: contain;
    grid-column: 4 / 10;
    height: 300px;
    padding: 20px;
    position: relative;
    font-weight: 600;
    z-index: 1;
}

.item-2 p {
    color: #FFFFFF;
}

.item-3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/exercise3.png);
    background-position: center bottom;
    background-size: contain;
    grid-column: 10 / 13;
    height: 300px;
    padding: 20px;
    position: relative;
}

.item-3 p {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: 600;
    width: 50%;
}

.item-4 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/exercise4.png);
    background-position: center bottom;
    background-size: contain;
    grid-column: 1 / 6;
    height: 300px;
    padding: 20px;
    position: relative;
}

.item-4 p {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    color: #FFFFFF;
    font-weight: 600;
    width: 30%;
}

.item-5 {
    background-image: linear-gradient(to right, rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url(../images/exercise5.jpg);
    background-position: center bottom;
    background-size: contain;
    grid-column: 6 / 9;
    height: 300px;
    padding: 20px;
    position: relative;
}

.item-5 p {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: 600;
    width: 50%;
}

.item-6 {
    background-image: linear-gradient(to right, rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url(../images/exercise6.jpg);
    background-position: center bottom;
    background-size: contain;
    grid-column: 9 / 13;
    height: 300px;
    padding: 20px;
    position: relative;
}

.item-6 p {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: 600;
    width: 50%;
}


.section-titles {
    margin: 60px auto;
}

.mbi-section-titles {
    width: 60%;
    margin: 60px auto;
}

.mbi-calculator {
    background-color: #222222;
    padding: 60px 0;
}

.bmi-grid-containers {
    display: flex;
    justify-content: space-between;
}

.calculate-bmi p {
    width: 80%;
    line-height: 22px;
    margin-bottom: 30px;
}

table {
    margin-top: 30px;
}

table,
th,
td {
    border: 1px solid #FFFFFF10;
    border-collapse: collapse;
    padding: 20px;
    text-align: start;
    color: #FFFFFF50;
    font-size: 16px;
}

table,
th {
    font-size: 18px;
    color: #FFFFFF;
}

.calculator-chart h3,
.calculate-bmi h3 {
    font-size: 28px;
}

.calculate-bmi h3 {
    margin-bottom: 16px;
}

.activity {
    width: 100%;
    padding: 16px;
    border-radius: 10px;
    background-color: #FFFFFF60;
    color: #FFFFFF;
    font-size: 16px;
}

input {
    width: 49.70%;
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 10px;
    background-color: #FFFFFF60;
}

.gender {
    width: 49.70%;
    padding: 16px;
    border-radius: 10px;
    background-color: #FFFFFF60;
    color: #FFFFFF;
    font-size: 16px;
}

::placeholder {
    color: #FFFFFF;
}

option {
    background-color: #FFFFFF60;
    overflow: auto;
    /* padding: 16px; */
}

.calculate-bmi button {
    margin-top: 30px;

}



.team-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    background-color: #FFFFFF30;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 60px;
}

.item1 {
    background-image: url(../images/trainer1.png);
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 20px;
    position: relative;
}

.item2 {
    background-image: url(../images/trainer2.png);
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 20px;
    position: relative;
}

.item3 {
    background-image: url(../images/trainer3.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
    border-radius: 20px;
    position: relative;
}

.item4 {
    background-image: url(../images/trainer4.png);
    height: 250px;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: relative;
}

.item5 {
    background-image: url(../images/trainer5.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    border-radius: 20px;
    position: relative;
}

.item6 {
    background-image: url(../images/trainer6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 250px;
    border-radius: 20px;
    position: relative;
}

.item1 div,
.item2 div,
.item3 div,
.item4 div,
.item5 div,
.item6 div {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}

.subscribe {
    text-align: center;
    margin: 60px 0;
}

.form-submit {
    width: 50%;
    margin: auto;
}

.email-input {
    margin-bottom: -20px;
}

.subscribe img {
    width: 60px;
    margin-bottom: 20px;
}

select {
    position: relative;
    /* display: none;  */
}

option {
    position: absolute;
    width: 100%;
    background-color: #00000050;
    padding: 20px;

}

option:active {
    background-color: #000;
}

.subscribe p {

    width: 50%;
    margin: 20px auto;
    line-height: 25px;
}

input:focus,
select {
    outline: none;
}

.form-submit .email-input {
    border-radius: 10px 0 0 10px;
}

.form-submit .btn-subscribe {
    border-radius: 0 10px 10px 0;
    padding: 16px;
    margin-left: -3px;
    border: 0;
}

.email-input {
    border: 0;
    color: #FFFFFF;
}


footer {
    background-color: #FFFFFF10;

}

footer h2 {
    color: #E6533C;
    font-weight: 800;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.footer1 p {
    width: 50%;
    margin-top: 20px;
    line-height: 20px;
}

footer h4 {
    font-size: 32px;
}

footer ul {
    margin-top: 20px;
}

footer ul li {
    list-style: none;
    margin-bottom: 10px;
}

footer ul li a {
    color: #FFFFFF50;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}

footer h5 {
    text-align: center;
    padding: 16px 0;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF50;
}

hr {
    border-top: 1px solid #FFFFFF10;
}

/* Media Query Section */

@media screen and (max-width:576px) {
    nav img {
        display: block;
    }

    nav ul {
        display: none;
    }

    .banner {
        display: flex;
        flex-direction: column;
        padding: 20px 0;

    }

    .model {
        position: relative;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .banner p {
        width: 70%;
    }

    .banner .btn-primary {
        margin-right: 5px;
        font-size: 13px;
        padding: 16px 30px;
    }

    .banner .btn-download {
        font-size: 13px;
        padding: 16px 30px;
    }

    .tutorial {
        position: absolute;
        left: 20px;
        bottom: 150px;
        margin-left: -20px;
        border: 1px solid #303030;
        border-radius: 10px;
    }

    .workout-videos {
        position: absolute;
        border: 1px solid #303030;
        border-radius: 10px;
        right: 0;
        top: 80px;
    }

    .model img {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 20px;
    }

    .habits {
        margin-bottom: 60px;
    }

    .section-title {
        text-align: center;
        margin: 20px;
    }

    .section-title h2 {
        font-size: 32px;
    }

    .section-title p {
        margin-top: 15px;
        line-height: 20px;
    }

    .section-body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .section-body img {
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .section-body h4 {
        font-size: 18px;
    }

    .section-body p {
        width: 70%;
        margin: auto;
        margin-top: 10px;
    }

    .run {
        display: flex;
        flex-direction: column;
    }

    .run-title h2 {
        margin-bottom: 20px;
        width: 100%;
        font-size: 32px;
    }

    .run-title p {
        margin-bottom: 20px;
        width: 100%;
        font-size: 14px;
    }

    img {
        width: 100%;
        border-radius: 20px;
        margin-top: 20px;
    }

    .run .btn-primary {
        width: 100%;
    }

    .item-1 {
        grid-column: 1 / 7;
        background-repeat: no-repeat;
        height: auto;
        height: 100px;

    }

    .item-2 {
        grid-column: 7 / 13;
        background-repeat: no-repeat;
        height: auto;
        height: 100px;

    }

    .item-3 {
        grid-column: 1 / 7;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;

    }

    .item-4 {
        grid-column: 7 / 13;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        height: 100px;

    }

    .item-5 {
        display: none;

    }

    .item-6 {
        display: none;

    }

    .section-titles {
        width: 90%;
    }

    .section-titles h2 {
        font-size: 32px;
    }

    .item-1 p,
    .item-2 p,
    .item-3 p,
    .item-4 p {
        width: 100%;
        font-size: 10px;
    }

    .item-4 p {
        margin-right: -10px;
        width: 90%;
    }

    .item-3 p {
        margin-right: -10px;
        width: 90%;
    }

    .bmi-grid-containers {
        flex-direction: column;
    }

    input,
    .gender {
        width: 100%;
    }

    .gender {
        margin-bottom: 20px;
    }

    .mbi-section-titles h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .calculator-chart h3,
    th,
    .calculate-bmi h3 {
        font-size: 16px;
    }

    td {
        font-size: 14px;
    }

    table {
        margin-bottom: 20px;
    }

    table th,
    td {
        padding: 10px;
    }

    /* select {
        position: relative;
    }

    option {
        position: absolute;
        width: 100%;
        background-color: DodgerBlue;
        
    }

    option:active {
        background-color: #000;
    } */

    .team-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .subscribe h2 {
        font-size: 32px;
    }

    .subscribe p {

        width: 90%;
        margin: 20px auto;
        line-height: 25px;
    }

    .form-submit {
        width: 100%;
        display: flex;
    }

    .form-submit .email-input,
    .form-submit .btn-subscribe {
        margin: 0;
        /* color: #FFFFFF50; */
    }

    .btn-subscribe {
        /* background-color: #020202; */
        border: 0;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer1 p {
        width: 90%;
        margin-bottom: 20px;
    }

}

@media screen and (min-width:577px) and (max-width:768px) {
    nav ul li a {
        color: #FFFFFF;
        font-size: 14px;
        text-decoration: none;
    }


    .banner .btn-primary {
        margin-right: 5px;
        font-size: 13px;
        padding: 16px 30px;
    }

    .banner .btn-download {
        font-size: 13px;
        padding: 16px 30px;
    }

    .tutorial {
        position: absolute;
        left: 20px;
        bottom: 150px;
        margin-left: -20px;
        border: 1px solid #303030;
        border-radius: 10px;
    }

    .workout-videos {
        position: absolute;
        border: 1px solid #303030;
        border-radius: 10px;
        right: 0;
        top: 80px;
    }

    .model img {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 20px;
    }

}

@media screen and (min-width:769px) and (max-width:992px) {}