@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Basic Setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    background-color: #020202;
    font-size: 14px;
    font-weight: 400;
    /* font-family: 'Miama Nueva', sans-serif; */
    font-family: "Inter", sans-serif;
}


/* Reusable Components */

section {
    max-width: 85%;
    margin: auto;
}

h2 {
    font-size: 48px;
}

p {
    color: #FFFFFF50;
}

.btn-primary {
    background-color: #E6533C;
    padding: 16px 40px;
    border: 0;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.btn-download {
    background-color: #e6533c00;
    padding: 16px 40px;
    border: 1px solid #ffffff;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}


/* Desing Navbar */
#hero {
    background-color: #0f0e0eef;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

nav h3 {
    color: #E6533C;
    font-size: 36px;
    font-weight: 800;
}

nav ul {
    border: 1px solid #FFFFFF30;
    padding: 15px;
    border-radius: 20px;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-right: 30px;

}

nav ul li a {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
}

nav ul li:nth-child(1) {
    background-color: red;
    padding: 10px 20px;
    border-radius: 20px;
}

nav ul li:nth-last-child(1) {
    margin-right: 0;
}

nav img {
    width: 35px;
    height: auto;
    display: none;
    background-color: #FFFFFF;
    padding: 8px;
    border-radius: 4px;
}

/* Desing Banner */

.banner {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;

}

h1 {
    font-size: 78px;
    margin-bottom: 30px;
}

.banner span {
    font-family: 'Miama Nueva', sans-serif;
}

.banner p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 30px;
}

.model {
    /* background-image: url(../images/Images2.png); */
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}

.model img {
    margin-bottom: -40px;
    margin-right: 150px;
    margin-top: -80px;
}

.tutorial {
    display: flex;
    align-items: center;

}

.red-box {
    width: 30px;
    height: 30px;
    background-color: #E6533C;
    border-radius: 50%;
    margin-right: 10px;
}

.banner .btn-primary {
    margin-right: 20px;
}

.content {
    display: flex;

}

.workout-videos,
.tutorial {
    background-color: #30303080;
    padding: 20px;
    width: fit-content;
}

.tutorial {
    position: absolute;
    left: -80px;
    bottom: 0;
    margin-left: -20px;
    border: 1px solid #303030;
    border-radius: 10px;
}

.workout-videos {
    position: absolute;
    border: 1px solid #303030;
    border-radius: 10px;
    right: 80px;
    top: 50px;
}

.content h3 {
    font-size: 36px;
}

.content h4 {
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF70;
}

/* Desing habits */

.habits {
    margin-bottom: 60px;
}

.section-title {
    text-align: center;
    margin: 60px;
}

.section-title p {
    margin-top: 15px;
    line-height: 20px;
}

.section-body {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.section-body img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.section-body h4 {
    font-size: 18px;
}

.section-body p {
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

.run {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    padding: 40px;
    border-radius: 20px;
}

.run-title h2 {
    margin-bottom: 20px;
    width: 60%;
}

.run-title p {
    margin-bottom: 20px;
    width: 60%;
}

img {
    width: 50%;
    border-radius: 20px;
}

/* Media Query Section */

@media screen and (max-width:576px) {
    nav img {
        display: block;
    }

    nav ul {
        display: none;
    }

    .banner {
        display: flex;
        flex-direction: column;
        padding: 20px 0;

    }

    .model {
        position: relative;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .banner p {
        width: 70%;
    }

    .banner .btn-primary {
        margin-right: 5px;
        font-size: 13px;
        padding: 16px 30px;
    }

    .banner .btn-download {
        font-size: 13px;
        padding: 16px 30px;
    }

    .tutorial {
        position: absolute;
        left: 20px;
        bottom: 150px;
        margin-left: -20px;
        border: 1px solid #303030;
        border-radius: 10px;
    }

    .workout-videos {
        position: absolute;
        border: 1px solid #303030;
        border-radius: 10px;
        right: 0;
        top: 80px;
    }

    .model img {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 20px;
    }

    .habits {
        margin-bottom: 60px;
    }

    .section-title {
        text-align: center;
        margin: 20px;
    }

    .section-title h2 {
        font-size: 32px;
    }

    .section-title p {
        margin-top: 15px;
        line-height: 20px;
    }

    .section-body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .section-body img {
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .section-body h4 {
        font-size: 18px;
    }

    .section-body p {
        width: 70%;
        margin: auto;
        margin-top: 10px;
    }

    .run {
        display: flex;
        flex-direction: column;
    }

    .run-title h2 {
        margin-bottom: 20px;
        width: 100%;
        font-size: 32px;
    }

    .run-title p {
        margin-bottom: 20px;
        width: 100%;
        font-size: 14px;
    }

    img {
        width: 100%;
        border-radius: 20px;
        margin-top: 20px;
    }

    .run .btn-primary {
        width: 100%;
    }

}

@media screen and (min-width:577px) and (max-width:768px) {
    nav ul li a {
        color: #FFFFFF;
        font-size: 14px;
        text-decoration: none;
    }


    .banner .btn-primary {
        margin-right: 5px;
        font-size: 13px;
        padding: 16px 30px;
    }

    .banner .btn-download {
        font-size: 13px;
        padding: 16px 30px;
    }

    .tutorial {
        position: absolute;
        left: 20px;
        bottom: 150px;
        margin-left: -20px;
        border: 1px solid #303030;
        border-radius: 10px;
    }

    .workout-videos {
        position: absolute;
        border: 1px solid #303030;
        border-radius: 10px;
        right: 0;
        top: 80px;
    }

    .model img {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 20px;
    }

}

@media screen and (min-width:769px) and (max-width:992px) {}